@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html {
    background-color: red;
}
.overview {
    margin: 50px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
}

iconify-icon {
    vertical-align: middle;
}
.skills {
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.skill {
    border: 5px solid black;
}

#go {
    width: 50px;
    height: 50px;
}
#python {
    width: 50px;
    height: 50px;
}